root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csx}]
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
